*{
    font-family: 'Poppins', sans-serif;
    margin:0;
    padding:0;
}
body{
    background-image: url("https://besthqwallpapers.com/Uploads/1-4-2021/160486/finance-icons-blue-finance-background-currency-icons-money-background-currency-concepts.jpg");
    object-fit: contain;
}
h1{
    color:aliceblue;
    font-size: 35px;
}
#container{
    height: 35rem;
    width:35rem;
    border:1px solid rgb(74, 74, 242);
    text-align: center;
    padding:10px 10px;
    margin:15vh auto;
    border-radius: 15px;
    background-color: rgb(74, 74, 242);
    box-shadow: white 0px 5px 15px;
}
.col-heading{
    font-size:25px;
    color:aliceblue
}
input{
    font-size:18px;
    height:2rem;
    width:30rem;
    padding:3px 10px;
    border-radius: 10px;
}
h2{
    color: greenyellow;
    padding:5px;
}

@media (max-width:620px){
    body{
        background-image: none;
        background-color: aliceblue;
    }
    #container{
        height: 30rem;
        width:15rem;
        box-shadow: blue 0px 5px 15px;
    }
    .col-heading{
        font-size:18px;
    }
    h1{
        font-size: 30px;
    }
    input{
        height:2rem;
        width:12rem;
    }
}
